.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sideBarItem:hover{
    -fx-background-color: #136886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}